* {
    padding:0;
    margin: 0;
}


.navbar {
    background-color: #283B5B;
    color: white;
}

.nav-item {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.navbar-nav > a:hover {
    color: #7cd3ed;
}

.jumbotron {
    background-color: #283B5B;
}
